<qr-scanner
  [debug]="false"
  [canvasWidth]="400"
  [canvasHeight]="400"
  [stopAfterScan]="true"
  [updateTime]="500">
</qr-scanner>

<div *ngFor="let r of restaurants">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><b>{{r.name}}</b></mat-card-title>
      <mat-card-subtitle>Adresse: {{r.adress}}</mat-card-subtitle>
    </mat-card-header>
    <img *ngFor="let image of r.getImagesUrls()"
         mat-card-image [src]="image">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
      <bar-rating [rate]="r.rating" [max]="5" [readOnly]="true" [theme]="'default'"></bar-rating>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>DÉTAILS</button>
      <button mat-button>POSITION</button>
    </mat-card-actions>
  </mat-card>
</div>

